*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f9f7f3;
  background-color: #0f0f0f;
}

.parent-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2px;
}

.app-footer {
  background-color: rgb(27, 31, 34);
  color: #cccccc;
  text-align: center;
  padding: 5px 0px;
  font-size: 0.8rem;
  border-top: 1px solid #333;
}

.footer-content p {
  margin: 10px 0;
}

.page-not-found {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f0f0f;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.page-not-found h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ff4c4c;
}

.page-not-found p {
  font-size: 1.2rem;
  color: #cccccc;
}

.navbar-wrapper {
  position: sticky;
  top: 0;
  flex: none;
  z-index: 110;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 0;
  padding: 0 2px;
}

.navbar {
  justify-content: space-between; /*pushes the first element to extreme left and last elements to the extreme right horizontally*/
  padding: 0px 50px;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgb(22, 24, 26);
  overflow: hidden;
}

.nav-group {
  display: flex;
  gap: 80px;
  width: 100%;
  align-items: center;
}

.navlogo {
  font-weight: bold;
  font-size: 1.8rem;
  color: #fbdf72;
  transition: transform 0.3s ease;
}

.navlogo:hover {
  transform: scale(1.05) translateY(-2px);
  cursor: pointer;
  text-shadow: 0 1px 5px #facc15, 0 0 0 #facc15;
}

.nav-search {
  padding: 4px 7px;
  font-size: 1rem;
  color: #f9f7f3;
  border: none; /* removes border*/
  border-radius: 28px; /* for rounded corners*/
  background-color: #2c2c2c;
  outline: none; /* removes blue outline when on-click*/
  box-shadow: none; /* prevent inner shadow on focus */
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* smooth transition in and out on-click*/
  margin-top: 3px;
}

.nav-search:focus {
  box-shadow: 0 0 4px #facc15;
  background-color: #2f2f2f;
}

.nav-search:hover {
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* smooth transition in and out on-click*/
  box-shadow: 0 0 4px #facc15;
  background-color: #2f2f2f;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 1rem;
  color: #f9f7f3;
}

.nav-link {
  position: relative;
  padding: 10px 15px;
  color: #f9f7f3;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: #ffd700;
  border-radius: 2px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.nav-link.active-nav::after {
  width: 100%;
}

.nav-link:hover {
  /* transform: scale(1.2); */
  color: #fbdf72;
  cursor: pointer;
}

.nav-link.active-nav {
  color: #fbdf72; /* Optional: yellow color for active link text */
}
.active-nav {
  color: #fbdf72;
}

.active-nav:visited {
  color: #fbdf72; /* ensure active tab stays yellow even after visiting */
}


.user-avatar {
  margin-left: auto; /* Push this element as far to the right as possible within its parent container.*/
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 2px #facc15; /*subtle glow effect */
  cursor: pointer;
}

.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.441);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all; /* blocks interaction underneath */
}

.spinner-div {
  color: #000000c5;
  width: 8rem;
  height: 8rem;
}

.poster {
  margin-top: 0;
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.poster-image-wrapper {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.poster-image {
  width: 100%;
  height: 150%; /*Making it larger than 100% so it can animate*/
  object-fit: cover; /*fits the entire space without stretching, but if required zoom in*/
  animation: panDown 8s linear infinite;
}

@keyframes panDown {
  0% {
    transform: translateY(0%);
  }
  /* 50%{
    transform: translateX(80%);
  } */
  100% {
    transform: translateY(-30%);
  }
}

/*to overcome that we wrap with a empty <div> layer with css for the opacity */
.poster-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* adjust poster opacity here */
  z-index: 0;
}

.poster-content {
  position: absolute; /* Places the content over the poster image, exactly at a certain point relative to the nearest positioned parent (usually the .poster).*/
  bottom: 60px;
  left: 60px;
  color: white;
  max-width: 50%; /* Limits the width to half of the container to prevent long lines or overlapping text.*/
  z-index: 1; /*Ensures it sits above the background image, especially if layering (z-index) is being used.*/
}

.poster-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.poster-overview {
  font-size: 1.1rem;
  margin-top: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.poster-buttons {
  display: flex;
}

.poster-info-button {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: #f9f7f3;
  transition: background 0.4s;
}

.poster-info-button:hover {
  background-color: rgba(241, 235, 235, 0.2); /* subtle white tint on hover */
  color: white;
}

.poster-slide-indicator {
  position: absolute;
  display: flex;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dot:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.2);
}

.dot.active {
  background-color: #ffffff;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  background: none;
  color: rgba(255, 255, 255, 0.301);
  border: none;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 50%;
  z-index: 2;
  transition: transform 0.3s ease;
}

.nav-arrow:hover {
  background: rgba(0, 0, 0, 0);
  transform: scale(1.2) translateY(-50%);
  color: rgba(255, 255, 255, 0.768);
}

.nav-arrow.right {
  right: 20px;
}

.nav-arrow.left {
  left: 20px;
}

.content-section {
  position: relative;
  color: #f9f7f3;
}

.content-card-section {
  padding: 30px 50px;
  overflow-x: auto;
}

.content-header-title {
  color: white;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 1.4rem;
  font-weight: bold;
}

.content-card {
  display: flex;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.4s ease, border 0.3s ease;
  cursor: pointer;
  border: 5px solid transparent;
}

.content-card:hover {
  transform: scale(1.2);
  border: 5px solid #e5e7eb5c;
}

.more-option-card {
  height: 100%;
  width: 150px;
  color: #ccc;
  font-weight: 500;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.more-option-card:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.more-option-card::after {
  content: "See More →";
  font-size: 0.9rem;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.more-option-card:hover::after {
  opacity: 1;
  text-decoration: underline;
}
